* {
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.gallery-item {
  transition: transform 0.3s ease;
}
.gallery-item:hover {
  transform: scale(1.04);
}

.basicLightbox {
  background-color: rgba(46, 47, 66, 0.8);
}
